PORT=8000  #live 8053

# LIVEURL='https://ntpllaborchawkbe.substore.in'
LIVEURL='http://localhost:8000'

MONGO_URI=   



# ----------------- middleware tokens -----------------
TOKEN_SECRET= 
TOKEN_SECRET_USER= 
# middleware tokens 
TOKEN_SECRET_INFLUENCER= 
TOKEN_SECRET_PRODUCTION_HOUSE= 
TOKEN_SECRET_STORE= 
TOKEN_SECRET_EVENT_COMPANY= 
# ----------------- middleware tokens -----------------



# cliend side ----
# fast 2 sms api configuration
FAST2SMSAPIKEY= 
FAST2SMSURL=  
# cliend side ----


# cloudflare utils ----
R2_ACCESS_KEY= 
R2_SECRET_KEY= 
R2_ENDPOINT= 
R2_BUCKET= 
# cloudflare utils ----
 

 